<style type="text/css" id="theme shared">
.holder{ background-color: lightgray; }
.itemPanel {
	float:right;
	position: relative;
	margin-top: 2px;
	margin-right: 2px;
	width: 22px;
	height: 50px;
	display: none;
}
.holder:hover .itemPanel{
	display: block;
}
</style>

<style type="text/css">
.itemHolder {
	margin-left: 15px;
	margin-top: 8px;
}

.itemContent {
	margin-left: 97px;
}

.bmImg{
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	margin-left: -5px;

	width: 96px;
	height: 96px;
	float: left;
}

.bmName{
}
.bmDesc {
	background-color: rgba(163, 71, 255,0.5);
	border: 2px ridge rgba(163, 71, 255,0.3);
}

/* min size */
.holder-min .itemContent {
	display: none;
}
.holder-min .bmImg {
	width: 100%;
	height: 100%;
}
</style>

<div class="holder">
	<div class="holder-c pa itemHolder">
		<a href="/users" target="_blank">
			<div id="lnk_btn-/users" class="bmImg" style="background-image:url(img/e-burg.jpg);">
			</div>
		</a>
		<div class="itemContent">
			<div class="bmName itemColorAlpha">
				<a id="lnk_btn-/users" href="/users" target="_blank" class="bmLink">users</a>
			</div>
			<div class="bmDesc">users users users users users users users users users users users users users users users users users users users users users users users users users users users users users users users users users users users users users users users users users users users users users users users users users users 
			</div>
		</div>
	</div>
	
	<div id="item_panel" class="itemPanel">
		<img id="ipe_btn-1416659277363" class="shBtnSmall" alt="edit" src="img/edit.png">
		<img id="ips_btn-1416659277363" class="shBtnSmall" alt="shared" src="img/share_panel.png">
	</div>
</div>

<style type="text/css" id="default">
.holder {
	width: 300px;
	height: 110px;
}
.holder-c {
	width: 265px;
	height: 92px;
	overflow: hidden;
}
.holder-min {
	width: 300px;
	height: 200px;
}
.itemColorAlpha{ background-color:rgba(255,255,128,0.85); }
.pa{
	position: absolute;
}

.NoName{
	display: none;
}
.Name{
	display: block;
}
</style>