<style type="text/css">
  .loginHolder{
    position: absolute;
    width:120px;
    height:210px;
    background-image:url(/ic/img/login.jpg);
    background-size: cover;
  }

  .loginId{
    margin-top: 4px;
  }
  .loginPass{
    margin-top: 9px;
    margin-bottom: 10px;

  }
  .login{
    margin-left: 3px;
    overflow: hidden;
    width: 109px;
  }

  .t{
    border: none;
    background: none;
    width: 100%;
  }

  .btn{
    width: 30px;
    height: 35px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .btn:hover{
    background-color: rgba(163, 71, 255,0.5);
  }

</style>

<div class="loginHolder">
  <div id="login_input-login" class="login loginId">
    <input type="text" class="t" value="tel or mail"></input>
  </div>
  <div id="login_input-pass" class="login loginPass">
    <input type="text" class="t" value="pass"></input>
  </div> 
  <div class="btn" id="login_btn-1"></div> 
  <div class="btn" id="login_btn-2"></div> 
  <div class="btn" id="login_btn-3"></div> 
  <div class="btn" id="login_btn-4"></div> 
  <div class="btn" id="login_btn-5"></div> 
  <div class="btn" id="login_btn-6"></div> 
  <div class="btn" id="login_btn-7"></div> 
  <div class="btn" id="login_btn-8"></div> 
  <div class="btn" id="login_btn-9"></div> 
  <div class="btn" id="login_btn-X"></div> 
  <div class="btn" id="login_btn-0"></div> 
  <div class="btn" id="login_btn-V"></div> 
</div>
